{% extends "wrapper.html" %}
{% block content %}
    <h1 class="display-4">Добавить друга</h1>
    <form action="/friend/new" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="full_name" class="lead text-info mt-3">Имя</label>
            <input type="text" class="form-control border-info text-secondary" id="full_name" name="full_name">
        </div>
        <input class="btn btn-outline-info mt-2 mb-3 active" type="submit" value="Сохранить">  
    </form>

{% endblock %}