{% extends "wrapper.html" %}
{% block content %}
    <h1 class="display-4">Новый издатель</h1>
    <form action="/publisher/new/{{ toggle }}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title" class="lead text-info mt-3">Наименование издателя</label>
            <input type="text" class="form-control border-info text-secondary" id="title" name="title">
        </div>
        <input class="btn btn-outline-info mt-2 mb-3 active" type="submit" value="Сохранить">  
    </form>

{% endblock %}